@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&family=Kalam:wght@400;700&display=swap');

@theme {
  --color-primary: #3c8dbc;
  --color-secondary: #222d32;
  --color-tertiary: #367fa9;
  --color-quaternary: #1e282c;
  --color-sidebar-dark: #2c3b41;
  
  --font-marathi: 'Tiro Devanagari Marathi', serif;
  --font-marathi-hand: 'Kalam', cursive;
  
  --color-text-body: #30373B;
  --color-text-dark: #5F5F5F;
  --color-text-near-black: #222222;
  --color-text-muted: #949494;
  
  --color-bg-offwhite: #F7F8F8;
  --color-border-gray: #E2E2E2;
  
  --color-status-yellow: #FDD703;
  --color-status-orange: #FF9624;
  --color-status-facebook: #3B5998;
  --color-status-success: #11D814;
  --color-status-error: #F50505;
}

body {
  @apply bg-bg-offwhite text-text-body;
  font-family: 'Source Sans 3', sans-serif;
  zoom: 80%; /* Scales down all panel pages to look like the requested layout at 100% zoom */
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
